langchain
langchain-core
langchain-community
langchain-mistralai
pypdf
pymupdf
python-dotenv
sentence-transformers
chromadb
tavily 
trafilatura
langdetect
langchain-google-genai
weasyprint
markdown
langchain_groq
flask
playwright