<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trippy</title>
</head>
<body>
    <form method="post">
        <input type="text" placeholder="Enter Preferences" name="preferences">
        <input type="text" name="place" placeholder="Place" >
        <input type="number" name = "age" placeholder="Age">
        <input type="number" name = "budget" placeholder="Budget">
        <input type="number" name="persons" placeholder="No of persons">

        <button>Process</button>
    </form>
</body>
</html>